@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh
}

.SliderContainer {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.SliderLeft {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.SliderLeft > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SliderLeft h1 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.SliderRight {
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
}

.SliderRight > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    color: lightslategray;
    border: none;
    padding: 20px;
    font-size: 18pt;
    background-color: beige;
}

button:hover {
    color: black;
}

.SliderContainer .SliderButtons button {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100;
}

.ButtonDown {
    transform: translateX(-100%) translateY(50%);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.ButtonUp {
    transform: translateY(-50%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}